@import "tailwindcss";
body {
  background: #030712;
}
.headerlogo {
  background-image: url('./assets/images/logolalit.png');
  background-size: cover;
  background-position: center center;
  
}



   /* /* background-image: url("../src/assets/images/logo.webp");
  background-repeat: no-repeat;
  background-size: 70% */



  